.tnt_track path.ld-snp-lead-snp-connector,
.tnt_track path.snp-disease-connector {
    fill: none;
    stroke: #ccc; // #999;
    stroke-width: 2;
    &.highlight {
        stroke: orangered;
    }
}



.tnt_track .disease-label {
    font-size: 10px;
    color: #777;
    text-anchor: end;
    dominant-baseline: middle;
}

.legendCells .swatch {
    opacity: 0.4;
}


.threshold-slider {
    .axis { font: 10px sans-serif; -webkit-user-select: none; -moz-user-select: none; user-select: none; }
    .axis   .domain { fill: none; stroke: #000; stroke-opacity: .3; stroke-width: 10px; stroke-linecap: round; }
    .axis   .halo   { fill: none; stroke: #ddd; stroke-width: 8px;  stroke-linecap: round; }
    .slider .handle { fill: #fff; stroke: #000; stroke-opacity: .5; stroke-width: 1.25px; pointer-events: none; }
}

.below-slider-threshold {
    opacity: 0;
}
