.tnt_track path.snp-connector,
.tnt_track path.snp-disease-connector {
    fill: none;
    stroke: #ccc; // #999;
    stroke-width: 2;
}

.tnt_track .disease-label {
    font-size: 10px;
    color: #777;
    text-anchor: end;
    dominant-baseline: middle;
}